@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme{
	--shadow-custom: 6px 6px 19px -6px rgba(0, 0, 0, 0.72);
	--font-family-inter: "Inter", sans-serif;
	--color-main: #043873;
}

@layer base{

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Inter", sans-serif;
	}
}


button{
	cursor: pointer;
}

.container{
	margin: 0 auto;
}

ul > li{
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px
}

header>li{
	font-size: 20px;
}

.not-allowed{
	color: lightgray;
}